[submodule "tests/gtest"]
	path = tests/gtest
	url = http://git.chromium.org/external/googletest.git
[submodule "src/common"]
	path = src/common
	url = https://github.com/fasto/common.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/fasto/cmake.git
